@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', Arial, sans-serif !important;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}

h2 {
    color: #333;
    text-align: left;
    font-family: 'Poppins', Arial, sans-serif !important;
}

p {
    color: #666;
    text-align: justify;
    font-family: 'Poppins', Arial, sans-serif !important;
}

#carouselContainer {
    position: relative;
    width: auto; /* Reducido para que no ocupe todo el ancho */
    max-width: 900px; /* Máximo tamaño del carrusel */
    margin: 20px auto; /* Centrado con margen */
    height: auto; /* Altura más controlada */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.imgEsumer {
    width: 100%;
    max-height: 500px; /* Ajusta la altura según lo necesites */
    object-fit: cover; /* Recorta la imagen para ajustarla al contenedor */
}


#carouselImages {
    display: flex;
    transition: transform 1s ease-in-out;
}

#carouselImages img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta sin recortar */
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.arrow-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 15px 20px; /* Aumentado para mejor visibilidad */
    text-align: center;
    text-decoration: none;
    font-size: 20px; /* Tamaño de fuente más grande */
    cursor: pointer;
    border-radius: 6px;
    width: 80px; /* Aumentado */
    height: 80px; /* Aumentado */
}

.arrow-button:hover {
    background-color: #002244;
}

#startButton {
    background-color: #003366;
    color: white;
    border: none;
    padding: 15px 50px; /* Aumentado */
    width: 220px; /* Aumentado */
    height: 55px; /* Aumentado */
    text-align: center;
    font-size: 18px; /* Aumentado */
    margin: 10px 0;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Poppins', Arial, sans-serif !important;
}

#startButton:hover {
    background-color: #002244;
}

#status {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    text-align: justify;
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', Arial, sans-serif !important;
}

.modal-button:hover {
    background-color: #002244;
}


@media (max-width: 768px) {

    body {
        padding: 2px;
    }

    #carouselContainer {
        height: auto; /* Permite que el contenedor crezca con la imagen */
        max-height: none;
    }

    #carouselImages img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho */
        height: auto; /* Mantiene la proporción original */
        max-height: 100vh;
    }

    #fileContainer {
        height: auto;
    }

    video, .image {
        max-width: 100%;
        max-height: 300px;
    }

    .arrow-button {
        padding: 6px 12px;
        font-size: 14px;
        width: 80px;
        height: 40px;
    }

    #buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Espacio entre botones de flechas */
        flex-direction: column; /* Asegura que estén en columna */
    }

    #startButton {
        margin-top: 10px; /* Espacio de 10px con los botones de flecha */
        width: 220px; /* Un poco más ancho en pantallas pequeñas */
        height: 40px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', Arial, sans-serif !important;
    }
}

@media (max-width: 480px) {
    body {
        padding: 2px;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    #carouselContainer {
        flex-direction: column;
        width: 100%;
    }

    #fileContainer {
        height: auto;
    }

    .arrow-button {
        padding: 5px 10px;
        font-size: 12px;
        width: 70px;
        height: 45px;
        flex:1px;
    }

    .image {
        width: 100%; /* La imagen ocupa todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción original */
        max-height: 80vh; /* Evita que la imagen sea más alta que la pantalla */
        object-fit: contain; /* Asegura que no se recorte ni deforme */
    }

    #carouselImages img {
        width: 100%;
        height: auto;
        max-height: 90vh; /* Ajusta la altura máxima para móviles */
    }

    #buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px; /* Espacio entre botones de flechas */
        flex-direction: row; 
    }

    #startButton {
        margin-top: 10px; 
        width: 220px; 
        height: 45px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', Arial, sans-serif !important;
    }
}
